.user-box dl {
    width: auto !important;
    margin-right: 0px !important;
}

.user-box .icons-wrap{
    display: none !important;
}

.action-icons span{
    padding-top: 5px;
    font-size: 32px;
    cursor: pointer;
    color: #01579B;
}