<!--app info page-->
<div class="container-fluid">

    <nav class="breadcrumbs-nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a title="back to applications list" routerLink="/apps">Apps</a></li>
            <li class="breadcrumb-item">{{ applicationStatistics.ApplicationName }}</li>
        </ol>
    </nav>

    <!-- condition area - to dictate app type
    in section.app-full-details add class with: 
    app-type-*
    * can be: 
        - services
        - app
        - task-->
    <section class="app-full-details app-type-{{ fixApplicationCategory(globalsService.fixApplicationCategoryName2(applicationStatistics.ApplicationCategory)) }}">
        <div class="app-title">
            <h2 class="title">{{ applicationStatistics.ApplicationName }}</h2>
            <div class="app-type">
                <div class="wrap type-task-wrap">
                    <img src="./img/clipboard.svg" alt="">
                    <h4 class="type">Task</h4>
                </div>
                <div class="wrap type-app-wrap">
                    <img src="./img/apps.svg" alt="">
                    <h4 class="type">App</h4>
                </div>
                <div class="wrap type-services-wrap">
                    <img src="./img/settings-gears.svg" alt="">
                    <h4 class="type">Services</h4>
                </div>
                <div class="wrap type-plugin-wrap">
                    <img src="./img/calendar.svg" alt="">
                    <h4 class="type">Plugin</h4>
                </div>
            </div>
        </div>

        <div class="sessions-details" style="margin-top: 10px; margin-bottom: 10px;">
            <a [routerLink]="['/apps']" class="session-back-btn cursor-pointer">
                <img class="back-arrow" src="./img/back-arrow-session.svg" alt="" aria-describedby="false">
                <img class="back-arrow back-arrow-hover" src="./img/back-arrow-session-hover.svg" alt="" aria-describedby="false">BACK
                TO APPS
            </a>
        </div>

        <!-- condition area - to dictate sdtatus state
        in div.box add class with: 
        app-status-*
        * can be: 
            - offline
            - online
            - success
    -->
        <div class="box app-info-box app-status-{{ applicationStatistics.ActiveSessionsNumber > 0 ? 'online' : 'offline'}}">
            <div class="container-fluid no-gutters">
                <div class="row no-gutters">
                    <div class="col-5">
                        <div class="app-details-wrap">
                            <div class="left">
                                <div class="img-wrap" *ngIf="applicationStatistics.ApplicationCategory != null">
                                    <img class="logo" src="./img/{{globalsService.fixApplicationIcon(applicationStatistics.ApplicationIcon, applicationStatistics.ApplicationCategory)}}"
                                        alt="">
                                </div>
                                <div class="status">
                                    <div class="inner-wrap success">
                                        <img src="./img/check-mark.svg" alt="" class="logo">
                                        <p class="status-text">No Errors</p>
                                    </div>
                                    <div class="inner-wrap offline">
                                        <img src="./img/offline-bar.svg" alt="" class="logo">
                                        <p class="status-text">Offline</p>
                                    </div>
                                    <div class="inner-wrap online">
                                        <img src="./img/online-bar.svg" alt="" class="logo">
                                        <p class="status-text">Online</p>
                                    </div>
                                </div>
                                <div class="icons-wrap">
                                    <button class="star-icon {{applicationStatistics.IsFavoriteForUser ? 'active' : ''}}" data-toggle="tooltip" data-placement="bottom" 
                                    (click)="updateUserFavoriteApplication()">
                                    <span class="ecad-tooltip ecad-tooltip-bottom tooltip-slide-left">
                                            {{applicationStatistics.IsFavoriteForUser ? 'Remove favorite' : 'Add to favorites'}}
                                    </span>
                                    </button>
                                    <a href="javascript: void(0);" class="mail-icon" data-toggle="tooltip" data-placement="bottom" title="Send mail to users"></a>
                                </div>
                                <button [disabled]="!globalsService.currentUserIsAdmin()" type="button" class="edit-metadata link-btn" id="edit-metadata-btn" (click)="openEditMetadataPopupWindow()" title="press to edit metadata">
                                    Edit Metadata
                                </button>
                            </div>
                            <div class="right">
                                <div class="text-wrap">
                                    <p class="exe"><img *ngIf="applicationStatistics.ApplicationType != null" title="platform: {{applicationStatistics.ApplicationType}}"
                                            class="grid-row-icon" style="margin-right: 5px;" src="./img/{{getSessionTypeLogo(applicationStatistics.ApplicationType)}}"
                                            alt="">{{applicationStatistics.ProcessName}}</p>
                                    <p class="main-text" *ngIf="applicationStatistics.ApplicationDescription != null">
                                        <span *ngFor="let line of applicationStatistics.ApplicationDescription.toString().split('\n')">
                                            {{line}}<br/>
                                        </span>
                                    </p>
                                </div>
                                <div class="website-wrap">
                                    <img src="./img/world.svg" alt="">
                                    <a *ngIf="applicationStatistics.ApplicationUrl != ''" [href]="applicationStatistics.ApplicationUrl" target="_blank" class="link-btn app-website"
                                        title="application website">{{applicationStatistics.ApplicationUrl}}</a>
                                    <span *ngIf="applicationStatistics.ApplicationUrl == ''"><i>Application URL not configured</i></span>
                                </div>
                                <dl>
                                    <div class="inner-dl-wrap">
                                        <div class="data-wrap">
                                            <dt>Modified</dt><dd>{{ datepipe.transform(applicationStatistics.LastUpdateTime,
                                                'yyyy-MM-dd HH:mm') }}</dd>
                                        </div>
                                        <div class="data-wrap">
                                            <dt>Created</dt><dd>{{ datepipe.transform(applicationStatistics.CreateTime, 'yyyy-MM-dd
                                                HH:mm') }}</dd>
                                        </div>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="inner-dl-wrap">
                                        <div class="data-wrap">
                                            <dt>Last Run</dt><dd>{{ datepipe.transform(applicationStatistics.LatestRunDate,
                                                'yyyy-MM-dd HH:mm') }}</dd>
                                        </div>
                                        <div class="data-wrap">
                                            <div *ngIf="applicationStatistics.LatestRunErrorsNumber == 0" class="success"><img
                                                    class="checkmark" src="./img/checkmark.svg" aria-hidden="true">&nbsp;Successful</div>
                                            <div *ngIf="applicationStatistics.LatestRunErrorsNumber > 0" class="run-result-error"><img
                                                    class="error-icon" src="./img/error-icon.svg" aria-hidden="true">&nbsp;{{applicationStatistics.LatestRunErrorsNumber}}
                                                Errors
                                            </div>
                                        </div>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="app-statistics">
                            <dl class="dl-right">
                                <div class="data-wrap">
                                    <dt><span>TOTAL</span><span>USERS</span></dt><dd>{{ applicationStatistics.UniqueUsersNumber
                                        }}
                                    </dd>
                                </div>
                                <div class="data-wrap">
                                    <dt><span>CURRENTLY</span><span>ACTIVE USERS</span></dt><dd>{{ applicationStatistics.ActiveSessionsNumber
                                        }}
                                    </dd>
                                </div>
                                <div class="data-wrap">
                                    <dt><span>TOTAL</span><span>EXECUTION</span><dd>{{ applicationStatistics.TotalSessionsNumber
                                            }}
                                        </dd>
                                </div>
                                <div class="data-wrap">
                                    <dt><span>TOTAL</span><span>ERRORS</span></dt><dd>{{ applicationStatistics.TotalErrorsNumber
                                        }}
                                    </dd>
                                </div>
                            </dl>
                            <div class="sessions-per-day">
                                <h4 class="caps-title" style="font-weight: 600;">
                                    SESSIONS/DAY
                                    <span style="float: right;">
                                        {{ datepipe.transform(sessionsPerDayDate, "MMMM yyyy") }}
                                        <span (click)="reloadSessionsPerDay(-1)" class="sessions-per-day-icon k-icon k-i-arrow-chevron-left" title="previous month"></span>
                                        <span (click)="reloadSessionsPerDay(1)" class="sessions-per-day-icon k-icon k-i-arrow-chevron-right" title="next month"></span>
                                    </span>
                                </h4>
                                <div class="stats">
                                    <kendo-chart style="height: 180px;">
                                        <kendo-chart-axis-defaults [majorGridLines]="{visible: true}" [minorGridLines]="{visible: false}"></kendo-chart-axis-defaults>
                                        <kendo-chart-tooltip>
                                            <ng-template kendoChartSeriesTooltipTemplate let-value="value" let-category="category" let-dataItem="dataItem">
                                                {{category}}: {{value}} sessions
                                            </ng-template>
                                        </kendo-chart-tooltip>
                                        <kendo-chart-category-axis>
                                            <kendo-chart-category-axis-item [visible]="false" [categories]="sessionsPerDaySummary_Categories">
                                            </kendo-chart-category-axis-item>
                                        </kendo-chart-category-axis>
                                        <kendo-chart-value-axis>
                                            <kendo-chart-value-axis-item>
                                                <kendo-chart-value-axis-item-labels [step]="2">
                                                </kendo-chart-value-axis-item-labels>
                                            </kendo-chart-value-axis-item>
                                        </kendo-chart-value-axis>
                                        <kendo-chart-series>
                                            <kendo-chart-series-item [color]="'#1766A4'" [data]="sessionsPerDaySummary_Values">
                                            </kendo-chart-series-item>
                                        </kendo-chart-series>
                                    </kendo-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- END .app-info-box -->
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-usages" role="tab" aria-controls="nav-usages"
                    aria-selected="true"><span class="k-icon k-i-clock" style="margin-right:5px; font-size: 25px;"></span>Sessions
                    ({{getTotalSessions()}})
                </a>
                <!--<a class="nav-item nav-link" id="nav-users-tab" data-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users"
                    aria-selected="false">Users</a>-->
                <a class="nav-item nav-link" id="nav-configurations-tab" data-toggle="tab" href="#nav-configurations" role="tab" aria-controls="nav-configurations"
                    aria-selected="false"><span class="k-icon k-i-gears" style="margin-right:5px; font-size: 25px;"></span>Configurations
                    ({{ applicationConfigEntries.length + (showGlobalConfigEntries ? applicationConfigEntries_Global.length
                    : 0) }})</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tab-content">
            <div class="tab-pane tab-usages fade show active" id="nav-usages" role="tabpanel" aria-labelledby="nav-usages-tab">
                <div class="box filter-box">
                    <div class="no-gutters">
                        <div class="row no-gutters">
                            <div class="filters-left col-sm-12">
                                <div class="input-wrap selected-anim with-val">
                                    <kendo-dropdownlist name="time-range" id="time-range" class="filter-input ng-pristine ng-valid ng-touched kendo-dropdowns"
                                        [(ngModel)]="sessionsDatesRangeType" [data]="globalsService.GlobalFilter.TimeRangeValues_Apps"
                                        (valueChange)="reloadSessionsList()">
                                    </kendo-dropdownlist>
                                    <label for="time-range">Activity Time Range</label>

                                </div>
                                <div class="input-wrap selected-anim with-val">
                                    <kendo-dropdownlist name="user" id="user" class="filter-input ng-pristine ng-valid ng-touched kendo-dropdowns user-name-dropdown"
                                        [defaultItem]="{Code: 0, UserName: 'All'}" [kendoDropDownFilter]="{caseSensitive: false, operator: 'contains'}"
                                        [popupSettings]="{ width: 300 }" [(ngModel)]="sessionsUserCode" [data]="globalsService.findGlobalSetting('UsersList',[])"
                                        [textField]="'UserName'" [valueField]="'Code'" [valuePrimitive]="true" (valueChange)="reloadSessionsList()">
                                    </kendo-dropdownlist>
                                    <label for="user">User</label>
                                </div>
                                <div class="checkbox-input custom-control custom-checkbox" style="margin-left: 30px;">
                                    <input type="checkbox" [(ngModel)]="sessionsOnlineApplicationsOnly" [ngModelOptions]="{standalone: true}" (change)="reloadSessionsList()"
                                        class="custom-control-input" id="cb-online-only" name="cb-online-only" aria-label="Checkbox for showing online apps only">
                                    <label class="custom-control-label" for="cb-online-only">Online Sessions Only</label>
                                </div>
                                <div class="custom-control action-icons">
                                    <span title="auto size grid columns" class="k-icon k-i-arrows-resizing p-t-5" (click)="sessionsGrid.autoFitColumns()"></span>
                                    <span title="refresh sessions" class="k-icon k-i-refresh" (click)="reloadSessionsList()"></span>
                                </div>
                            </div>
                        </div>
                    </div><!-- END .container-fluid -->
                </div><!-- END .filter-box -->
                <div class="group-sessions-wrap">
                    <div class="inner-tab-content">
                        <div class="box">
                            <kendo-grid #sessionsGrid [data]="viewSessions | async" [loading]="viewSessions['loading']" [resizable]="true" [pageable]="true"
                                [pageSize]="stateSessions.take" [skip]="stateSessions.skip" [sort]="stateSessions.sort" [sortable]="true"
                                scrollable="none" (dataStateChange)="dataStateChangeSessions($event)" [columnMenu]="true" [filterable]="false"
                                [rowClass]="rowCallback">
                                <kendo-grid-column field="SessionId" title="" [resizable]="false" [sortable]="false" [columnMenu]="false" width="5" [class]="{'statusColumn': true}">
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <span></span>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="SessionId" title="" [resizable]="false" [sortable]="false" [columnMenu]="false" width="25" [style]="{'text-align': 'left', 'padding-left': '10px', 'padding-right': '0px'}">
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <img title="type: {{dataItem.ApplicationCategory}}" class="grid-row-icon" src="./img/{{globalsService.fixApplicationIcon(dataItem.ApplicationIcon, dataItem.ApplicationCategory)}}"
                                            alt="">
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="SessionId" title="Session Id" width="100" [hidden]="true">
                                </kendo-grid-column>
                                <kendo-grid-column field="ServerName" title="Server" width="250">
                                </kendo-grid-column>
                                <kendo-grid-column field="UserName" title="User" width="250">
                                </kendo-grid-column>
                                <kendo-grid-column field="Version" title="Version" width="150">
                                </kendo-grid-column>
                                <kendo-grid-column field="FrameworkVersion" title="Framework" width="180">
                                </kendo-grid-column>
                                <kendo-grid-column field="ErrorsNumber" title="Errors" width="150" type="number" [class]="{'codeColumn': true}">
                                </kendo-grid-column>
                                <kendo-grid-column field="OpenTime" title="Start Time" width="180" type="date" format="{0:dd/MM/yy HH:mm}">
                                </kendo-grid-column>
                                <kendo-grid-column field="LastPingTime" title="Last Ping" width="180" type="date" format="{0:dd/MM/yy HH:mm}" [hidden]="true">
                                </kendo-grid-column>
                                <kendo-grid-column field="CloseTime" title="Close Time" width="180" type="date" format="{0:dd/MM/yy HH:mm}">
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <span [hidden]="dataItem.CloseTime == null">{{ datepipe.transform(dataItem.CloseTime,
                                            'dd/MM/yy HH:mm') }}</span>
                                        <span [hidden]="dataItem.CloseTime != null" class="status-box {{ isSessionOnline(dataItem) ? 'online' : 'offline'}}">
                                            <img style="margin-right: 5px;" src="./img/{{ isSessionOnline(dataItem) ? 'online' : 'offline'}}-circle.svg"><span>{{
                                                isSessionOnline(dataItem) ? 'Online' : 'Offline'}}</span>
                                        </span>
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="SessionTime" title="Total Time" [sortable]="false" [columnMenu]="true" type="date" width="180"
                                    format="{0:HH:mm:ss}">
                                </kendo-grid-column>
                                <kendo-grid-column field="CloseReason" title="Close Reason" [hidden]="true">
                                </kendo-grid-column>
                                <kendo-grid-column field="SessionId" title="" [sortable]="false" [columnMenu]="false" [style]="{'text-align': 'right'}">
                                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                        <span [hidden]="true" class="status-box {{ isSessionOnline(dataItem) ? 'online' : 'offline'}}">
                                            <img src="./img/{{ isSessionOnline(dataItem) ? 'online' : 'offline'}}-circle.svg"><span
                                                style="font-size: 10px; line-height: 15px;">{{ isSessionOnline(dataItem) ? 'Online'
                                                : 'Offline'}}</span>
                                        </span>
                                        <a target="_blank" [routerLink]="['/session-details', dataItem.SessionId]">
                                            <span title="view session details {{isSessionOnline(dataItem) ? '(online)' : ''}}" class="row-action-icon {{isSessionOnline(dataItem) ? 'online' : ''}} k-icon k-i-eye"></span>
                                        </a>
                                    </ng-template>
                                </kendo-grid-column>
                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </div><!-- End tab -->


            <div class="tab-pane tab-configurations fade" id="nav-configurations" role="tabpanel" aria-labelledby="nav-configurations-tab">
                <div class="app-configs">
                    <div class="section-header">
                        <h3 class="title">Application Configurations</h3>
                        <div class="inputs">
                            <div class="checkbox-input custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" [(ngModel)]="showGlobalConfigEntries" (change)="configGroupFilter = '*'"
                                    [ngModelOptions]="{standalone: true}" id="cb-favorites-only" aria-label="show also global configurations">
                                <label class="custom-control-label" for="cb-favorites-only">Show global configurations</label>
                            </div>
                            <div class="input-wrap order-by-input" style="width: 300px;">
                                <label for="show">Config Group</label>
                                <select class="filter-input" [(ngModel)]="configGroupFilter" name="show" id="show" style="width: 290px;">
                                    <option value="*">All Groups</option>
                                    <option value="">Empty Group</option>
                                    <option [hidden]="showGlobalConfigEntries" *ngFor="let group of applicationConfigGroups" value="{{group}}">{{group}}</option>
                                    <option [hidden]="!showGlobalConfigEntries" *ngFor="let group of applicationConfigGroupsWithGlobal" value="{{group}}">{{group}}</option>
                                </select>
                            </div>
                            <button type="button" [disabled]="!globalsService.currentUserIsAdmin()" class="add-btn" title="add global configuration" (click)="updateAppConfigEntry(null)"> +
                                ADD NEW</button>
                            <div class="custom-control" style="padding-left: 10px;">
                                <span title="refresh config entries" class="k-icon k-i-refresh action-icon" (click)="reloadApplicationConfigEntries()"></span>
                            </div>
                        </div>
                    </div>
                    <div class="config-list">
                        <div class="box">
                            <div class="apps-view-mode2">
                                <table class="table ecad-table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="col-appconfig-entry">Type</th>
                                            <th scope="col" class="col-appconfig-entry">Server</th>
                                            <th scope="col" class="col-appconfig-entry">User</th>
                                            <th scope="col" class="col-appconfig-entry">Group</th>
                                            <th scope="col" class="col-appconfig-entry key">Key</th>
                                            <th scope="col" class="col-appconfig-entry value">Value</th>
                                            <th scope="col" class="col-appconfig-entry description">Description</th>
                                            <th scope="col" class="col-appconfig-entry">Status</th>
                                            <th scope="col" class="col-appconfig-entry">Update Time</th>
                                            <th scope="col" class="col-appconfig-entry actions"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--global entries-->
                                        <tr class="type-app" [hidden]="!showGlobalConfigEntries || !(configGroupFilter == '*' || configGroupFilter == appConfigEntry.ConfigGroup)"
                                            *ngFor="let appConfigEntry of applicationConfigEntries_Global">
                                            <td class="col-appconfig-entry">Global</td>
                                            <td class="col-appconfig-entry">{{ appConfigEntry.ServerName }}</td>
                                            <td class="col-appconfig-entry">{{ appConfigEntry.UserName }}</td>
                                            <td class="col-appconfig-entry">{{ appConfigEntry.ConfigGroup }}</td>
                                            <td class="col-appconfig-entry key">{{ appConfigEntry.ConfigKey }}</td>
                                            <td class="col-appconfig-entry value">{{ appConfigEntry.ConfigValue }}</td>
                                            <td class="col-appconfig-entry description">{{ appConfigEntry.ConfigDescription
                                                }}
                                            </td>
                                            <td class="col-appconfig-entry status" [ngClass]="{'not-active': appConfigEntry.Status != 1 }">{{
                                                appConfigEntry.Status == 1 ? 'Active' : 'Not Active' }}</td>
                                            <td class="col-appconfig-entry">{{ datepipe.transform(appConfigEntry.LastUpdateTime,
                                                'yyyy-MM-dd HH:mm') }}</td>
                                            <td class="col-appconfig-entry actions">
                                                <span [hidden]="!globalsService.currentUserIsAdmin()" title="edit" class="k-icon k-i-track-changes" (click)="updateAppConfigEntry(appConfigEntry)"></span>
                                                <span [hidden]="!globalsService.currentUserIsAdmin()" title="create copy" class="k-icon k-i-copy" (click)="duplicateAppConfigEntry(appConfigEntry)"></span>
                                                <span [hidden]="!globalsService.currentUserIsAdmin()" title="delete" class="k-icon k-i-delete" (click)="deleteAppConfigEntry(appConfigEntry.RecordId)"></span>
                                            </td>
                                        </tr>

                                        <!--process/plugin entries-->
                                        <tr class="type-app" [hidden]="!(configGroupFilter == '*' || configGroupFilter == appConfigEntry.ConfigGroup)" *ngFor="let appConfigEntry of applicationConfigEntries">
                                            <td class="col-appconfig-entry">{{ isProcess ? "Process" : "Plugin" }}</td>
                                            <td class="col-appconfig-entry">{{ appConfigEntry.ServerName }}</td>
                                            <td class="col-appconfig-entry">{{ appConfigEntry.UserName }}</td>
                                            <td class="col-appconfig-entry">{{ appConfigEntry.ConfigGroup }}</td>
                                            <td class="col-appconfig-entry key">{{ appConfigEntry.ConfigKey }}</td>
                                            <td class="col-appconfig-entry value">{{ appConfigEntry.ConfigValue }}</td>
                                            <td class="col-appconfig-entry description">{{ appConfigEntry.ConfigDescription
                                                }}
                                            </td>
                                            <td class="col-appconfig-entry status" [ngClass]="{'not-active': appConfigEntry.Status != 1 }">{{
                                                appConfigEntry.Status == 1 ? 'Active' : 'Not Active' }}</td>
                                            <td class="col-appconfig-entry">{{ datepipe.transform(appConfigEntry.LastUpdateTime,'yyyy-MM-dd
                                                HH:mm') }}</td>
                                            <td class="col-appconfig-entry actions">
                                                <span [hidden]="!globalsService.currentUserIsAdmin()" title="edit" class="k-icon k-i-track-changes" (click)="updateAppConfigEntry(appConfigEntry)"></span>
                                                <span [hidden]="!globalsService.currentUserIsAdmin()" title="create copy" class="k-icon k-i-copy" (click)="duplicateAppConfigEntry(appConfigEntry)"></span>
                                                <span [hidden]="!globalsService.currentUserIsAdmin()" title="delete" class="k-icon k-i-delete" (click)="deleteAppConfigEntry(appConfigEntry.RecordId)"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End tab -->
        </div>

        <!-- START - Edit METADATA Modal - START -->
        <div class="modal fade edit-metadata-modal" id="edit-metadata-modal" tabindex="-1" role="dialog" aria-labelledby="editMetadataModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editMetadataModal">Edit Application Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="close window">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="">
                            <div class="modal-filters-bottom">
                                <div class="input-wrap">
                                    <label for="app-name">Edit App Name</label>
                                    <input type="text" class="edit-app-name filter-input" id="app-name" name="app-name" [(ngModel)]="applicationStatisticsCopy.ApplicationName">
                                </div>
                                <div class="input-wrap">
                                    <label for="app-url">Edit App Website URL</label>
                                    <input type="url" class="edit-url filter-input" id="app-url" name="app-url" [(ngModel)]="applicationStatisticsCopy.ApplicationUrl">
                                </div>
                                <div class="input-wrap">
                                    <label for="app-icon">Edit App Icon URL</label>
                                    <input type="url" class="edit-url filter-input" id="app-icon" name="app-icon" [(ngModel)]="applicationStatisticsCopy.ApplicationIcon">
                                </div>
                                <div [hidden]="applicationStatisticsCopy.ApplicationCategory == 'Plugin'" class="input-wrap selected-anim with-val">
                                    <kendo-dropdownlist name="app-category" id="app-category" class="filter-input ng-pristine ng-valid ng-touched kendo-dropdowns"
                                        [(ngModel)]="applicationStatisticsCopy.ApplicationCategory" [data]="['Service', 'Task', 'Application']"
                                        style="width: 100%;">
                                    </kendo-dropdownlist>
                                    <label for="app-category">Edit App Category</label>
                                </div>
                                <div [hidden]="applicationStatisticsCopy.ApplicationCategory != 'Plugin'" class="input-wrap">
                                    <label for="app-category2">App Category</label>
                                    <input type="url" class="edit-url filter-input" id="app-category2" name="app-category2" [(ngModel)]="applicationStatisticsCopy.ApplicationCategory"
                                        [disabled]="true">
                                </div>
                                <div class="input-wrap textarea-wrap">
                                    <label for="description">Edit Description</label>
                                    <textarea name="description" class="filter-input config-textarea edit-decription" id="description" cols="30" rows="8" [(ngModel)]="applicationStatisticsCopy.ApplicationDescription"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-footer-btn reset-btn" data-dismiss="modal">CANCEL</button>
                        <button type="button" class="modal-footer-btn apply-btn" data-dismiss="modal" (click)="updateApplicationDetails()">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END - Edit METADATA Modal - END -->
    </section>

    <!-- START - App Config Entry Modal - START -->
    <app-app-config-entry (onSave)="reloadApplicationConfigEntries()"></app-app-config-entry>
    <!-- END - App Config Entry Modal - END -->
</div>