.user-name-dropdown{
    width: 300px;
}

div.filters-left{
    display: flex;
}

.action-icons{
    position: absolute;
    right: 25px;
}

.action-icons span{
    padding-top: 5px;
    font-size: 30px;
    cursor: pointer;
    color: #01579B;
    margin-left: 5px;
}

.row-action-icon{
    cursor: pointer;
    color: #01579B;
    font-size: 22px;
}

.row-action-icon.online{
    /*color: #3EB75E !important;*/
    cursor: pointer;
}

// cell class - with/without errors
.error .codeColumn { 
    background-color:#ff6666; 
    color: white;
}

// cell class - online/offline
.online .statusColumn { 
    background-color:#3EB75E; 
}

.grid-row-icon{
    width: 15px;
    height: 15px;
}

img.app-img{
    height: 27px !important;
    width: 27px !important;
    margin-bottom: 5px !important;
}

.latest-run-result{
    display: inline-block !important;
    padding-left: 10px !important;
    vertical-align: text-bottom !important;
}

.latest-run-result .run-result-icon img{
    width: 13px;
    height: 13px;
    margin-right: 5px;
    margin-top: -3px;
}

.latest-run-result .run-result-error {
    color: crimson !important;
    font-weight: 600;
    font-family: Arial;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.latest-run-result .success {
    color: #3EB75E !important;
    font-weight: 600;
    font-family: Arial;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.stats{
    width: 100%;
    height: 180px;
}

.sessions-per-day{
    margin-bottom: 15px;
    width: 70% !important;
}

.sessions-per-day-icon{
    cursor: pointer;
    font-size: 14px;
    vertical-align: bottom;
}
