.config-entry-modal .modal-body .input-wrap {
    width: 100% !important; }
.config-entry-modal .modal-body .input-wrap input {
      width: 100% !important; }

.config-entry-modal .modal-dialog  {
      max-width: 1250px !important; 
    }

.config-entry-modal .modal-footer  {
      padding: 16px !important; 
    }

.filter-input.invalid{
    background-color: #ff9999 !important;
}



    